

.admin_table{
	width: 50%;
	margin: 0 auto;
}

.admin_table tr{
	min-height:20px;
}

.admin_table tr:first-child{
	background:#ccc;
	font-size:20px;
	border-bottom: 2px solid #333;
	height:40px;
}

.admin_table tr td{
	padding: 0px 10px;
	border-bottom: 1px solid #ccc;
	
}

input[type="text"]{
	width:30px;
}

input[type="submit"]{
	cursor:pointer;
}
.pag_container{
	padding:20px 0;
}

.pagination{
	width:100px;
	display:block;
	margin:0 auto;
}

.pagination li{
	padding:0 20px;
	display:inline;
}